[Unit]
Description=ZFS Autobuild
Before=zfs-zed.service zfs-import-cache.service zfs-import-scan.service zfs-import.service zfs-mount.service zfs-share.service zfs-volume-wait.service
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=oneshot
EnvironmentFile=/etc/zfs-autobuild/zfs-autobuild.conf
TimeoutStartSec=35m
RemainAfterExit=true
ExecStartPre=/etc/zfs-autobuild/zfs-autobuild-module build
ExecStart=/etc/zfs-autobuild/zfs-autobuild-module load
ExecReload=/etc/zfs-autobuild/zfs-autobuild-module reload
ExecStop=/etc/zfs-autobuild/zfs-autobuild-module unload

[Install]
WantedBy=multi-user.target
